<div class="forget-container">
  <!-- Left Image Section -->
  <div class="signup-image">
    <img src="assets/images/learnX_banner.png" alt="LearnX illustration">
  </div>

  <!-- Right Form Section -->
  <div class="forget-form">
    <div class="forget-card">
      <h2>Forgot Password?</h2>
      <p class="subtitle">Enter your email to reset your password</p>

      <form [formGroup]="form" (ngSubmit)="sendEmail()">
        <!-- Email -->
        <div class="form-group">
          <label>Email</label>
          <input type="email" formControlName="email" placeholder="Enter your email">
          <div class="error" *ngIf="email?.touched && email?.invalid">
            <small *ngIf="email?.errors?.['required']">Email is required.</small>
            <small *ngIf="email?.errors?.['email']">Enter a valid email address.</small>
          </div>
        </div>

        <button type="submit" [disabled]="form.invalid">Send Reset Link</button>
      </form>

      <div class="success" *ngIf="successMessage">
        <small>{{ successMessage }}</small>
      </div>
      <div class="error" *ngIf="errorMessage">
        <small>{{ errorMessage }}</small>
      </div>

      <div class="extra-links">
        <a routerLink="/signin">Back to Login</a>
      </div>
    </div>
  </div>
</div>


<!-- <app-validate-otp *ngIf="otp" [otpFromParent]="otp"></app-validate-otp> -->

