<div class="assignment-questions-container" *ngIf="!showScoreCard">
  <div *ngFor="let assignment of takeAssignments">
    <h2>{{ assignment.title }}</h2>

    <div *ngFor="let question of assignment.questions; let i = index" class="question-card">
      <p>{{ i+1 }}. {{ question.question }}</p>
      <div *ngFor="let option of question.options" class="option">
        <input
          type="radio"
          [name]="'q-'+assignment.id+'-'+i"
          [value]="option"
          [checked]="userAnswers()[assignment.id+'-'+i] === option"
          (change)="onAnswerChange(assignment.id, i, option)"
        />
        {{ option }}
      </div>
    </div>
  </div>

  <button (click)="onSubmit()">Submit</button>
</div>

<!-- <div *ngIf="showScoreCard" class="scorecard">
  <h2>Score Card</h2>
  <p>Your Score: {{ score }}/{{ totalQuestions }}</p>
  <button (click)="retryAssignment()">Retry</button>
</div> -->

<!-- <app-assignment-score-card
  [assignmentId]="firstAssignmentId!"
  [score]="score ?? 0"
  [totalQuestions]="totalQuestions ?? 0"
  [percentage]="((score ?? 0) / (totalQuestions ?? 1)) * 100">
</app-assignment-score-card> -->