/* .profile-page-container {
  display: flex;
  min-height: 100vh;
  background: #f9fafb;
}

.profile-sidebar {
  width: 250px;
  background: #d2d0d4;
  color: #f9fafb;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  height: 100vh;
}


.profile-header {
  text-align: center;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #e1e3e7;
  margin-bottom: 12px;
}

.info h2 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 600;
  color: #060606;
}

.info p {
  font-size: 0.9rem;
  color: #000000;
  margin: 5px 0;
}

.role {
  font-size: 0.75rem;
  font-weight: 500;
  background: #1f2937;
  color: #d1d5db;
  padding: 4px 10px;
  border-radius: 12px;
}

.content-column {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.enrolled-courses h3,
.completed-assignments h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: #111827;
}


.no-assignments,
.enrolled-courses p {
  font-size: 0.9rem;
  color: #6b7280;
}


.page-footer {
  margin-top: auto;
  padding: 20px;
  background: #111827;
  color: #fff;
  text-align: center;
  border-radius: 8px;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  position: relative;
}

.close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

button:disabled {
  background: #999;
  cursor: not-allowed;
} */
